<section class="dialog">
  {{#if isSelected}}
  <header class="dialog__header">
    <div class="dialog__header-img">
      <img class="dialog__header-avatar" src="{{avatar}}" alt="avatar">
    </div>

    <div class="dialog__header-name">
      {{name}}
    </div>

    <div class="dialog__header-actions">
      <button class="dialog__header-menu" type="button">
        <img src="{{menuIcon}}" alt="menu">
      </button>
      {{{ menu }}}
    </div>
  </header>

  <div class="dialog__messages">
    {{{messages}}}
  </div>

  <footer class="dialog__footer">
    {{{messageForm}}}
  </footer>
  {{else}}
  <div class="dialog__placeholder">
    Выберите, кому хотели бы написать
  </div>
  {{/if}}
</section>
