<section class="dialog">
  <header class="dialog__header">
    <div class="dialog__header-img">
      <img class="dialog__header-avatar" src="{{avatar}}" alt="avatar">
    </div>

    <div class="dialog__header-name">
      {{name}}
    </div>

    <button class="dialog__header-menu" type="button">
      <img src="{{dotsIcon}}" alt="menu">
    </button>
  </header>

  <div class="dialog__messages">
    <div class="dialog__messages-date">{{date}}</div>
    {{{messages}}}
  </div>

  <footer class="dialog__footer">
    {{{messageForm}}}
  </footer>
</section>
