<form class="form" id="{{formId}}">
  <h1 class="form__title">{{title}}</h1>

  <div class="form__content">
    {{{inputs}}} 
  </div>

  <div class="form__actions">
    {{{submitButton}}}
    {{#if linkText}}
    <a href="{{linkHref}}" class="link" data-link>{{linkText}}</a>
    {{/if}}
  </div>
</form>
