<div class="layout">
  <aside class="side-bar">
    <a href="/chat" data-link><img src="{{sendIcon}}" alt="icon" class="side-bar__back-button"></a>
  </aside>

  <main class="app">
    <div class="profile-page">
      <div class="avatar">
        <img class="avatar__photo" src="{{avatarSrc}}" alt="photo">
        <div class="avatar__change_photo" data-modal>
          Поменять<br /> аватар
        </div>
        <h1 class="avatar__name">{{name}}</h1>
      </div>
      {{{profileForm}}}
    </div>
  </main>

  {{{changeAvatarModal}}}
</div>
