<div class="modal-wrapper {{#unless isOpen}}modal-wrapper--hidden{{/unless}}">
  <div class="modal">
    <button type="button" class="close-button" aria-label="Закрыть"></button>
    
    {{#if title}}
    <h1 class="modal__title">{{title}}</h1>
    {{/if}}

    <form class="modal__form">
      {{#if changeAvatar}}
        {{{fileInput}}}
      {{else}}
        {{{content}}}
      {{/if}}

      {{#if buttonText}}
      <button type="submit" class="button">{{buttonText}}</button>
      {{/if}}
    </form>
  </div>
</div>
